* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(images/bg-pattern-desktop.svg);
  font-family: "Josefin Sans", sans-serif;
}

/* ===========
Typography
=========== */

h1 {
  font-size: 2.5rem;
  letter-spacing: 10.83px;
  line-height: 1.1;
  font-weight: 600;
}

.title-span,
.news-paragraph,
.input-email {
  color: #ce9898;
}

.title-span {
  font-weight: 300;
}

.news-paragraph {
  font-size: 0.875rem;
}

.news-paragraph,
.input-email {
  font-weight: 400;
}

/* == input & button == */

.input-email,
.submit-email {
  border-radius: 30px;
  padding: 0.5em 1em;
}

.input-email {
  border: 1px solid #ce9898;
  background: transparent;
}

.submit-email {
  color: #ffffff;
  background: linear-gradient(to right, #f8bfbf, #ee8b8b);
  border: 5px;
  box-shadow: 0 15px 20px #c66e6e 24.78%;
  /* text-align: center; */
}

/* ===========
Layout
=========== */

.news-container {
  text-align: center;
}

/* ===========
Media Query
=========== */

@media (min-width: 600px) {
  .submit-email:hover,
  .submit-email:active {
    box-shadow: 0 15px 20px inset;
    cursor: pointer;
  }
}
